
.carousel_container {
    height: auto;
    /* margin: 0 4%; */
    margin-top: 10vh;
    margin-bottom: 30vh;
    background: rgba(255, 123, 0, 0.9);
    background-image: url('../../assets/images/xxx.png');
    background-size: cover;
}

.carousel_container .text {
    padding-left: 8%;
    padding-top: 3%;
    font-size: 1.4em;
    color: white;
}
.carousel_container .text h3 {
    font-weight: 400;
    margin-top: 20px;
}

.carousel_container .container {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    padding-bottom: 200px;
}

.carousel_container .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
}

.carousel__face { 
    border-radius: 5px;
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(15, 15, 15, 0.5);
    display: flex;
    transition: 2s ease;
}

.carousel__face:hover {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(255, 153, 57);
}

span {
    margin: auto;
    font-size: 2rem;
}

.carousel__face:nth-child(1) {
    background-image: url("../../assets/images/carousel/home1.png");
    transform: rotateY(  0deg) translateZ(430px);
}
.carousel__face:nth-child(2) { 
    background-image: url("../../assets/images/carousel/home2.png");
      transform: rotateY( 40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
    background-image: url("../../assets/images/carousel/home3.png");
    transform: rotateY( 80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
    background-image: url("../../assets/images/carousel/home4.png");
    transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) { 
    background-image: url("../../assets/images/carousel/home5.png");
   transform: rotateY(160deg) translateZ(430px);
}

.carousel__face:nth-child(6) { 
    background-image: url("../../assets/images/carousel/home6.png");
   transform: rotateY(200deg) translateZ(430px);
}

.carousel__face:nth-child(7) { 
    background-image: url("../../assets/images/carousel/home7.png");
   transform: rotateY(240deg) translateZ(430px);
}

.carousel__face:nth-child(8) {
    background-image: url("../../assets/images/carousel/home8.png");
    transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
    background-image: url("../../assets/images/carousel/hero.png");
    transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
}

@media (max-width: 1000px) {
    .carousel_container {
        overflow: hidden;
        padding: 10px;
    }
    .carousel_container .container {
        perspective: 3000px;
        padding-bottom: 210px;
    }
    .carousel__face { 
        width: 330px;
        height: 190px;
    }
    span {
        font-size: 1.5rem;
    }
}