footer {
    box-shadow: 2px 2px 10px rgb(230, 230, 230);
    height: auto;
    /* margin: 0 4%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background: #ef8b2a;
    margin-top: 80px;
    padding: 0 5%;
}
.foot {
    width: 15%;
    padding: 3% 5px;
    margin: 0 4%;
    white-space: nowrap;
}
.foot:nth-child(5) {
    width: 60%;
}

.foot:nth-child(5) p {
    padding: 15px;
    margin-top: 15px;
}

.foot h3 {
    font-size: x-large;
    color: white;
    border-radius: 3%;
    text-align: left;
}
.foot p {
    text-align: left;
    color: white;
    padding: 5% 2%;
    border-radius: 3%;
}
.foot li a {
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
    transition: .5s ease;
}
.foot li a:hover {
    color: #ef8b2a;
    background: white;
    font-weight: bold;
}
.foot ul,
li {
    padding-top: 3%;
    padding-bottom: 3%;
}

.foot span a img {
    width: 25px;
    fill: #fff;
    margin: 0 20px;
}
.foot span a:nth-child(1) img {
    width: 20px;
}

.foot .social {
    display: block;
}

@media (max-width: 950px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .foot {
        width: 100%;
        padding: 0 20px;
        font-size: 17px;
        white-space: initial;
    }
    .foot:nth-child(5) {
        width: 100%;
        padding: 3%;
    }
    .foot ul li {
        display: inline-block;
        margin: 0 5px;
    }
}
